body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../img/logo-wpu.png");
  background-size: 50vw 100vh;
  background-repeat: no-repeat;
  background-position-x: 380px;
}

h1 {
  text-align: center;
}
